.title {
  
  font-size: 90px !important;
  
}

.subtitle {
  
  font-size: 60px !important;
  
}

.quarto-title-author-name {
  
  font-size: 45px !important;
  
}

.quarto-title-affiliation {
  
  font-size: 35px !important;
  font-style: italic !important;
  
}

.reveal .slide-logo {
  height: 60px !important;
  width: 190px !important;
  max-width: unset !important;
  max-height: unset !important;
}